@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2><br />
<h3>@ViewBag.Message</h3>

<p class="mb-5">Own production and warehouses. We create our own designs and models fulfilling all the dancers and gymnasts needs. We only choose high-quality materials from around the world and produce our own dancewear, shoes, accessories with our own equipment which allows us to control the whole process from scratch. 
Our production capacity and warehouses gives us opportunity to store basic goods in sufficient quantity to meet all our client’s needs..</p>

<blockquote class="blockquote text-center">
    <p class="m-3">We work so that you can practice with comfort, dance with ease and enjoy every moment of it</p>
</blockquote>
