@{
    ViewBag.Title = "Contact";
}


<h3>DanceShop Contact Details</h3><br />

<address>
    <strong><abbr title="Address">Address:</abbr></strong>
    Pobedina 90
    <br />
    <strong><abbr title="Phone">Phone:</abbr></strong>
    018.555.100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:dssupport@gmail.com">dssupport@gmail.com</a><br>
    <strong>Marketing:</strong> <a href="mailto:dsmarketing@gmail.com">dsmarketing@gmail.com</a>
</address>