@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron mb-5">
    <h1>Welcome to dance shop</h1>
</div>

<blockquote class="blockquote text-center">
    <p class="m-3">Wide range of products. Our dedicated team of designers continuously updates all models and creates new designs. That is what makes us unique. 
    We’re able to provide stylish and trendy dancewear as well as our classical collections in different materials and designs.</p>
</blockquote>
